/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Anton&family=EB+Garamond:wght@800&family=Konkhmer+Sleokchher&family=Lato:ital,wght@0,400;0,700;1,700;1,900&family=Open+Sans:ital,wght@0,400;1,300;1,800&family=Poppins&family=Work+Sans:wght@400;500;600;700&display=swap');

/* shared styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* work sans font family */
    font-family: 'Anton', sans-serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: 0;
    cursor: pointer;
}

.text-lightgray {
    color: #727272;
    font-size: 1rem;
}

.section-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 100px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-description{
    margin-bottom: 30px;
}

.banner-img {
    width: 100%;
    margin-top: 40px;
}

/* main styles */
main {
    max-width: 1200px;
    margin: 70px auto;

}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-left: 100px;
    
}
.teams-img-container img{
    width: 100%;
}

.teams-content {
    padding-left: 1rem;
    padding-right: 1rem;
}

.teams-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.teams-description{
    margin-bottom: 20px;
    width: 550px;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

/* features section */
.features {
    margin-top: 100px;
    display: flex;
    gap: 20px;
}

.feature-content{
    width: 600px;
    margin-left: 80px;
}

.feature-description{
    margin-top: 20px;
    margin-bottom: 20px;
}

.features .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-content .card {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature-img img {
    width: 80%;
    margin-left: 50px;
    margin-right: 50px;
}

.ten-years-badge {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 200px;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    position: relative;
    bottom: 70px;
}

.ten-years-badge h3 {
    font-size: 2rem;
}

.ten-years-badge p {
    font-size: 1rem;
}


/* facts section */
.facts{
    margin-top: 30px;
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
}

.facts-title{
    padding-left: 30px;
}

.facts-description{
    margin-top: 20px;
    padding-left: 30px;
}

.facts-card-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 20px;
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
}

/* sponsors style */
.sponsors {
    text-align: center;
}

.sponsors-description{
    margin-top: 30px;

}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

/* footer styles */
.footer-container{
    background: #FFF4E7;
    width: 85%;
    margin: auto;
    margin-bottom: 100px;
}
.footer-content {
    color: #424242;
    text-align: center;
    font-size: 1rem;
    padding: 30px;
}






















/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .features,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .feature-img img {
        width: 100%;
        margin-left: 0;
    }

    .ten-years-badge {
        position: static;
        width: auto;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }

    .sponsors-img-container img {
        width: 100%;
        padding: 30px;
    }
}

/* medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .features,
    .teams-container {
        flex-direction: column;
    }

    .ten-years-badge {
        position: static;
        width: 600px;
        margin: auto;
    }


}